@import '../config/variables';

.section {
    padding: 4.5rem 0 1rem;
    
    &__title, &__title-center {
        font-size: $h2-font-size;
        color: $title-color;
        text-align: center;
        margin-bottom: $mb-1;
    }
}

.container {
    max-width: calc(1000px / 1920px * 100%);
    margin-left: auto;
    margin-right: auto;
}
