@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$header-height: 3rem;

$first-color: #A5A5CA;
$first-color-alt: #9898C3;
$title-color: #353935;
$text-color: #343434;
$text-color-light: #A9A8A2;
$body-color: #FFFFFF;
$container-color: #FFF;

$body-font: 'Poppins', sans-serif;

$biggest-font-size: 3rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.25rem;
$normal-font-size: 1rem;
$small-font-size: .875rem;
$smaller-font-size: .813rem;

$font-semi-bold: 600;
$font-bold: 700;

$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;

$z-tooltip: 10;
$z-fixed: 100;
