@import './variables';

@mixin title {
    margin-bottom: $mb-0-75;
}

@mixin data {
    text-align: center;
    border-radius: 1rem;
}

@mixin column-grid($number_of_cols) {
    grid-template-columns: repeat($number_of_cols, 1fr);
}
