/*=============== HOME ===============*/
.home{
    &__container{
        row-gap: 3rem;
    }
    &__title{
        @include title;
        font-size: var(--biggest-font-size);
        font-weight: var(--font-bold);
    }
    &__description{
        margin-bottom: var(--mb-2);
    }
}